<!DOCTYPE html>
<html>
<head>
	<title>Web Project</title>
	
	<link rel="stylesheet" type="text/css" href="style.css">
	
</head>
<body>

	<header>
		<nav>
			<div class="row clearfix">
				

				<ul class="main-nav animated slideInDown" id="check-class">
					<li><a href="Membership.html">MEMBERSHIP</a></li>
					<li><a href="https://fithubx.blogspot.com/">MY BLOG</a></li>
					<li><a href="aboutus.html">ABOUT US</a></li>
					<li><a href="contact.html">CONTACT</a></li>
				</ul>
			
			</div>
		</nav>

		<div class="main-content-header">
			<h1> WELCOME TO <span class="colorchange">FithubX</span>.<br>
				FOR ALL FITNESS FREAKS. </h1>
			<a href="https://www.youtube.com/channel/UCVEyOMPDNnbwzq6mLBUHsgg/featured" class="btn btn-full">Youtube</a>
			<a href="https://www.instagram.com/fithubx/" class="btn btn-nav">Instagram</a>
		</div>
	</header>

	

</body>
</html>