<!DOCTYPE html>
<html>
<head>
<style>
body{
background-image: url('46.png'); 
background-repeat: no-repeat; 
background-attachment: fixed;
 background-size: cover;
 height:700px 
}
table {
  width:100%;
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 15px;
  text-align: left;
}
table#t01 tr:nth-child(even) {
  background-color: #eee;
}
table#t01 tr:nth-child(odd) {
 background-color: #fff;
}
table#t01 th {
  background-color: black;
  color: white;
}
</style>
</head>
<body>

<h2 style="color:white">Membership Plans <strong>:</strong></h2>



<table id="t01">
  <tr>
    <th>Fees(Rs)</th>
    <th>Duration(months)</th> 
    <th>Discount(Rs)</th>
  </tr>
  <tr>
    <td>1000</td>
    <td>1 </td>
    <td>Null</td>
  </tr>
  <tr>
    <td>2700</td>
    <td>3</td>
    <td>300</td>
  </tr>
  <tr>
    <td>5500</td>
    <td>6</td>
    <td>500</td>
  </tr>
  <tr>
    <td>8300</td>
    <td>9</td>
    <td>700</td>
  </tr>
  <tr>
    <td>11000</td>
    <td>12</td>
    <td>1000</td>
  </tr>
</table>
<p style="color:white"><strong>
Cardio Fees is +500 on all above<br>
<br>
1000+500*1 = 1500 for 1 month<br>
2700+500*3 = 4200 for 3 month<br>
5500+500*6 = 8500 for 6 month<br>
8300+500*9 = 12800 for 9 month<br>
11000+500*12 = 17000 for 12 month<br></strong>
</p>

</body>
</html>
